<% include('modules/_date.ejs') %>
<% include('modules/_excerpt.ejs') %>
<!DOCTYPE html>
<html lang="en">
    <%- include("/partials/_head.ejs") -%>
<body>
    <%- include("partials/_nav.ejs") -%>
    <div class="fixed-background"></div>
    <%- include("partials/_title.ejs") -%>
    <section class="blog">
        <% let i = 1 %> 
        <% for (const post of collections.post.reverse()) { %>
            <article id="<%= i++ %>" class="excerpt">
                <span class="date"><%= formatDate(post.date) %></span>
                <%- extractExcerpt(post) || post.templateContent %>
            </article>
        <% } %> 
    </section>
    <div class="links">
        <div><a class="button" href="/contact"><%= contactText %></a></div>
    </div>
    <%- include("/partials/_footer.ejs")-%> 
</body>
</html>