<!DOCTYPE html>
<html lang="en">
    <%- include("/partials/_head.ejs") -%>
    <body>
    <%- include("partials/_nav.ejs") -%>
    <div class="fixed-background"></div>
    <div class="contact-content header">
        <h1 class="title"><%= title %></h1>
        <div class="sub-title"><%= subTitle %></div>
    </div>
    <section class="section contact-section">
        <h2 class="contact-message"><%= getInTouchMessage %></h2>
        <div class="contact-btn-set">
            <a class="button contact-button" href="mailto:<%= email %>">
                <img class="button-content icon" src="/static/images/icons/mail.png" />
                <span class="button-content"><%= email %></span>
            </a>
            <a class="button contact-button" href="tel:<%= phone %>">
                <img class="button-content icon" style="height:35px;" src="/static/images/icons/phone.png"/>
            <span id="formatPhone" class="button-content"><%= phone %></span>
            </a>
        </div>
        <div class="address-info">
            <p><%= address %></p>
            <p><%= suite %></p>
            <p><%= city %>, <%= province %>, <%= country %></p>
            <p><%= postal %></p>
        </div>
    </section>
    <%= content %>
    <%- include("/partials/_footer.ejs") %> 
</body>
</html>
