<!DOCTYPE html>
<html lang="en">
    <%- include("/partials/_head.ejs") -%>
<body>
    <%- include("partials/_nav.ejs") -%>
    <div class="fixed-background"></div>
    <div class="index-content header">
        <h1 class="title"><%= title %></h1>
        <div class="sub-title"><%= subTitle %></div>
    </div>
    <section id="home" class="section section-anchor">
        <div class="image-div">
            <img class="section-img-hero" 
            src="<%= firstHero %>" 
            srcset="<%= firstHeroSet.map(s => `${s[0]} ${s[1]}`).join(', ') %>"
                sizes="100vw"  
                >
            </img>
        </div>
        <div class="section__text">
            <%- firstBox -%>
        </div>
    </section>
    <section id="services" class="section section-services section-anchor">
        <header class="section-header">
            <h1 class="title"><%= servicesTitle %></h1>
            <div class="sub-title"><%= servicesSubtitle %></div>
        </header>
        <div class="services-icons">
            <% for(icon of servicesCollection){ %>
                <div class="service-icon">
                    <div><img class="icon" src="<%=icon[0]%>" alt="<%=icon[1]%>"></div>
                    <span class="icon-title"><%=icon[1]%></span>
                </div>
            <%}%> 
        </div>
    </section>
    <section id="clients" class="section section-clients section-anchor">
        <header class="section-header">
            <h1 class="title"><%= clientsTitle %></h1>
            <% if(clientsSubtitle) { %>
                <div class="sub-title"><%= clientsSubtitle %></div>
            <% } %>
        </header>
        <div class="client-logos">
            <% for (client of clientsCollection) { %>
                <div>
                    <a href="<%= client[1] %>"><img class="<%= client[2] %>"src="<%= client[0] %>"></a>
                </div>
            <% } %>
        </div>
    </section>
    <section class="section second-hero">
        <div class="image-div">
            <img class="section-img-hero" 
                src="<%= secondHero %>" 
                sizes="100%" 
                >
            </img>
        </div>
        <div class="section__text">
            <%- secondBox -%>
        </div>
    </section>
    <section class="section footer-section">
        <div style="text-align: center;">
            <p class="text"><%= text %></p>
            <a class="button" href="/contact"><%= buttonText %></a>
        </div>
    </section>
    <%- include("/partials/_footer.ejs") %> 
    <%= content %>
</body>
</html>

<!--

<!-- {{ include 'partials/badges.html' }}
{{ include 'partials/clients.html' }}
{{ include 'partials/button.html' }}

{{extend 'pjax.html' if request.pjax else 'layout.html'}}

<section class="section section--full-bleed">
    <div class="section__image">
        <img src="{{=THUMB('static/images/backgrounds/astronaut-over-earth-crop.jpg', size='500x500')}}"
             srcset="{{=THUMB('static/images/backgrounds/astronaut-over-earth.jpg', size='1600x1600')}} 1600w,
                     {{=THUMB('static/images/backgrounds/astronaut-over-earth.jpg', size='1000x1000')}} 1000w,
                     {{=THUMB('static/images/backgrounds/astronaut-over-earth-crop.jpg', size='1000x1000')}} 999w,
                     {{=THUMB('static/images/backgrounds/astronaut-over-earth-crop.jpg', size='500x500')}} 500w"
             sizes="100vw"
             alt="An astronaut over earth"
             style="background-image: url({{=THUMB('static/images/backgrounds/astronaut-over-earth.jpg', size='100x100')}})"
         />
    </div>
    <div class="section__text">
        <h2>Unleash your potential</h2>
        <p><strong>Eric Waldman</strong> designs, builds and implements the digital strategies of businesses and not-for-profits in the Montréal and Ottawa regions.</p>
        <p>We combine proven technology with tasteful design to deliver spectacular results.</p>
    </div>
</section>

<section class="section section--badges">
    <div class="section__anchor" id="services"></div>
    <h2 class="section__title">Our Services</h2>
    <p class="section__text">We handle all aspects of your digital&nbsp;strategy.</p>
    {{services = [
        ("Websites"                               , None, URL('static', 'images/icons/publish.png')),
        ("Web Portals"                            , None, URL('static', 'images/icons/world-network.png')),
        ("Content Management Systems"             , None, URL('static', 'images/icons/cms.png')),
        ("Interactive Design"                     , None, URL('static', 'images/icons/touch.png')),
        ("E-Commerce"                             , None, URL('static', 'images/icons/shop.png')),
        ("Digital Publishing"                     , None, URL('static', 'images/icons/website.png')),
        ("iOS & Android Applications"             , None, URL('static', 'images/icons/smartphone.png')),
        ("Search Engine Optimization"             , None, URL('static', 'images/icons/search.png')),
        ("Online Marketing"                       , None, URL('static', 'images/icons/ribbon.png')),
        ("Open-Source Consulting"                 , None, URL('static', 'images/icons/open-source.png')),
    ]}}
    {{badges(services)}}
</section>

<section class="section section--badges">
    <div class="section__anchor" id="clients"></div>
    <h2 class="section__title">Featured Clients</h2>
    {{clients_items = [
        ("ParlAmericas"        , URL('static', 'images/clients/parlamericas.png' ), "http://parlamericas.org"   ,),
        ("Learning Bird"       , URL('static', 'images/clients/learningbird.png' ), "http://learningbird.com"   ,),
        ("Victoria Properties" , URL('static', 'images/clients/victoria.png'     ), "http://locationvictoria.ca",),
        ("Colby Monet"         , URL('static', 'images/clients/colbymonet.png'   ), "http://colby-monet.com"    ,),
        ("Mindbliss"           , URL('static', 'images/clients/mindbliss.png'    ), "http://mindbliss.com"      , False, True),
    ]}}
    {{clients(clients_items)}}
</section>

<section class="section section--full-bleed">
    <div class="section__image">
        {{=RIMG('static/images/backgrounds/spaceshuttle-short.jpg',
                srcset=[1200,921,920,500],
                _sizes="100vw",
                _alt="Space shuttle launching."
        )}}
    </div>
    <div class="section__text">
        <h2>Important ideas deserve perfect execution</h2>
        <p>
            Where does perfection come from? At Eric&nbsp;Waldman it's through pairing technical excellence with our passion for state-of-the-art design.
        </p>
        <p>
            When technology will make or break your next project, let yourself focus on the bigger picture by bringing in Eric&nbsp;Waldman to sweat out the technical details.
        </p>
    </div>
</section>

<section class="section section--contact">
    <p>Work with Eric&nbsp;Waldman on your&nbsp;next&nbsp;project</p>
    {{button('Contact Eric Waldman',
            URL('contact'),
            icon='arrow',
            style='vbig',
            animate=True)}}
</section> -->


-->