<!DOCTYPE html>
<html lang="en">
    <%- include("/partials/_head.ejs") -%>
<body>
    <%- include("partials/_nav.ejs") -%>
    <div class="fixed-background"></div>
    <%- include("partials/_title.ejs") -%>
    <section id="home" class="section top-section section-anchor">
        <div class="image-div">
            <img class="section-img-hero" 
            src="<%= firstHero %>" 
            srcset="<%= firstHeroSet.map(s => `${s[0]} ${s[1]}`).join(', ') %>"
                sizes="100vw"  
                >
            </img>
        </div>
        <div class="section__text">
            <%- firstBox -%>
        </div>
    </section>
    <section id="services" class="section section-services section-anchor">
        <header class="section-header">
            <h1 class="title"><%= servicesTitle %></h1>
            <div class="sub-title"><%= servicesSubtitle %></div>
        </header>
        <div class="services-icons">
            <% for(icon of servicesCollection){ %>
                <div class="service-icon">
                    <div><img class="icon" src="<%=icon[0]%>" alt="<%=icon[1]%>"></div>
                    <span class="icon-title"><%=icon[1]%></span>
                </div>
            <%}%> 
        </div>
    </section>
    <section id="clients" class="section section-clients section-anchor">
        <header class="section-header">
            <h1 class="title"><%= clientsTitle %></h1>
            <% if(clientsSubtitle) { %>
                <div class="sub-title"><%= clientsSubtitle %></div>
            <% } %>
        </header>
        <div class="client-logos">
            <% for (client of clientsCollection) { %>
                <div>
                    <a href="<%= client[1] %>"><img class="<%= client[2] %>"src="<%= client[0] %>"></a>
                </div>
            <% } %>
        </div>
    </section>
    <section class="section second-hero">
        <div class="image-div">
            <img class="section-img-hero" 
                src="<%= secondHero %>" 
                sizes="100%" 
                >
            </img>
        </div>
        <div class="section__text second-box">
            <%- secondBox -%>
        </div>
    </section>
    <section class="section footer-section">
        <div style="text-align: center;">
            <p class="text"><%= text %></p>
            <a class="button" href="/contact"><%= buttonText %></a>
        </div>
    </section>
    <%= content %>
    <%- include("/partials/_footer.ejs") %> 
</body>
</html>
