<!DOCTYPE html>
<html lang="en">
    <%- include("/partials/_head.ejs") -%>
<body>
    <%- include("partials/_nav.ejs") -%>
    <div class="fixed-background"></div>
    <div class="index-content header">
        <h1 class="title"><%= title %></h1>
        <div class="sub-title"><%= subTitle %></div>
    </div>
    <div class="project-list">
        <% projects.forEach((project, index) => { %>
          <div class="project-card">
            <img src="<%= project.images[0] %>" alt="<%= project.title %>">
            <div class='project-description'>
              <h2 class="project-card-title"><%= project.title %></h2>
              <p><%= project.description %></p>
            </div>
          </div>
        <% }) %>
    </div>
    <%= content %>
    <%- include("/partials/_footer.ejs")-%>
</body>
</html>