<!DOCTYPE html>
<html lang="en">
    <%- include("/partials/_head.ejs") -%>
<body>
    <%- include("partials/_nav.ejs") -%>
    <div class="fixed-background"></div>
    <%- include("partials/_title.ejs") -%>
    <div class="project-list">
        <% projectsList.forEach((project, index) => { %>
          <div id="<%= project.id %>" class="project-card">
            <div class='project-image-container'>
              <% project.images.forEach((image, i) => {%>
                <%if (i === 0) {%>
                  <img class="<%= project.id %>-project-image animate-in" src="<%= image %>" alt="<%= project.title %>">
                <% } else { %>
                  <img class="<%= project.id %>-project-image" src="<%= image %>" alt="<%= project.title %>" style="display: none;">
                <%}%>
              <%})%>
            </div>
            <div class='<%= project.id %> thumbnail-container'>
              <%project.images.forEach((image, i) => {%>
                <% const className = i === 0 ? 'image-thumbnail active-thumbnail' : 'image-thumbnail' %>
                <img 
                  class="<%= className %>"
                  src="<%= image %>" alt="<%= project.title %>" 
                  onclick='setSlide("<%= project.id %>", "<%= image %>"); activateThumbnail("<%= project.id %>", "<%= image %>")'
                  >
              <%})%>
            </div>
            <div class='project-description-container'>
              <div class='project-text-constraint'>
                <div class='project-title-container'>
                  <h2 class="project-title"><%= project.title %></h2>
                  <a href='<%= project.link %>' class='project-link' target='_blank'><%= project.displayLink %></a>
                </div>
                <p class='project-description'><%= project.description %></p>
              </div>
            </div>
          </div>
        <% }) %>
    </div>
    <%= content %>
    <%- include("/partials/_footer.ejs")-%>
</body>
</html>