<!DOCTYPE html>
<html lang="en">
    <%- include("/partials/_head.ejs") -%>
<body>
    <%- include("partials/_nav.ejs") -%>
    <div class="index-content header">
        <h1 class="title"><%= title %></h1>
        <div class="sub-title"><%= subTitle %></div>
    </div>
    <%= content %>
    <%- include("/partials/_footer.ejs")-%> 
</body>
</html>